# This is a special connection string that contains all the information about the database, 
# it needs to be created in the .evn file.
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"
# link for api
NEXT_PUBLIC_API_URL="http://localhost:3000/api/superheroes"
