.heroCard {
  max-width: 1200px;
  margin: 0 auto;
}

.wrap {
  display: flex;
  gap: 20px;
}

.nickName {
  align-items: center;
  text-align: center;
}

.image {
  width: 300px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  background-color: #393126;
  border: 1px solid #393126;
  border-radius: 3px;
  color: #f9f0e2;
  text-decoration: none;
  cursor: pointer;
}

.details:hover {
  border: 1px solid #9b6a00;
  background-color: #9b6a00;
}
