.pageCard {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.cardConteiner{
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}
